body {
    background: var(--#{$variable-prefix}main);
    color: var(--#{$variable-prefix}opposite);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    &:not(.fa-solid) {
        text-transform: uppercase;
    }
}

#jumboHeader {
    height: calc(90vh);
}